ColpatriaSAI.Seguridad.Proveedores/Web References/MembershipProvider/MembershipProvider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordQuestionAndAnswer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPasswordQuestion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPasswordAnswer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordQuestionAndAnswerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordQuestionAndAnswerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordQuestion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordAnswer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isApproved" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="providerUserKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MembershipUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsApproved" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLockedOut" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOnline" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LastActivityDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastLockoutDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastLoginDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastPasswordChangedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PasswordQuestion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderUserKey" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserResult" type="tns:MembershipUser" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:MembershipCreateStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="MembershipCreateStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="InvalidUserName" />
          <s:enumeration value="InvalidPassword" />
          <s:enumeration value="InvalidQuestion" />
          <s:enumeration value="InvalidAnswer" />
          <s:enumeration value="InvalidEmail" />
          <s:enumeration value="DuplicateUserName" />
          <s:enumeration value="DuplicateEmail" />
          <s:enumeration value="UserRejected" />
          <s:enumeration value="InvalidProviderUserKey" />
          <s:enumeration value="DuplicateProviderUserKey" />
          <s:enumeration value="ProviderError" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="deleteAllRelatedData" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUsersByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailToMatch" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMembershipUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MembershipUser" nillable="true" type="tns:MembershipUser" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindUsersByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUsersByEmailResult" type="tns:ArrayOfMembershipUser" />
            <s:element minOccurs="1" maxOccurs="1" name="totalRecords" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUsersByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usernameToMatch" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUsersByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUsersByNameResult" type="tns:ArrayOfMembershipUser" />
            <s:element minOccurs="1" maxOccurs="1" name="totalRecords" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult" type="tns:ArrayOfMembershipUser" />
            <s:element minOccurs="1" maxOccurs="1" name="totalRecords" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfUsersOnline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfUsersOnlineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNumberOfUsersOnlineResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userIsOnline" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByUserNameResult" type="tns:MembershipUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="providerUserKey" />
            <s:element minOccurs="1" maxOccurs="1" name="userIsOnline" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByKeyResult" type="tns:MembershipUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameByEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnlockUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:MembershipUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="ValidateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="providerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordQuestionAndAnswerSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePasswordQuestionAndAnswer" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordQuestionAndAnswerSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordQuestionAndAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="FindUsersByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:FindUsersByEmail" />
  </wsdl:message>
  <wsdl:message name="FindUsersByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:FindUsersByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="FindUsersByNameSoapIn">
    <wsdl:part name="parameters" element="tns:FindUsersByName" />
  </wsdl:message>
  <wsdl:message name="FindUsersByNameSoapOut">
    <wsdl:part name="parameters" element="tns:FindUsersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfUsersOnlineSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumberOfUsersOnline" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfUsersOnlineSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumberOfUsersOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="GetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GetPassword" />
  </wsdl:message>
  <wsdl:message name="GetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByKey" />
  </wsdl:message>
  <wsdl:message name="GetUserByKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserNameByEmail" />
  </wsdl:message>
  <wsdl:message name="GetUserNameByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockUserSoapIn">
    <wsdl:part name="parameters" element="tns:UnlockUser" />
  </wsdl:message>
  <wsdl:message name="UnlockUserSoapOut">
    <wsdl:part name="parameters" element="tns:UnlockUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="MembershipProviderSoap">
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change the password of a user</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change the password of a user</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordQuestionAndAnswerSoapIn" />
      <wsdl:output message="tns:ChangePasswordQuestionAndAnswerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create a user</wsdl:documentation>
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a user</wsdl:documentation>
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersByEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find user by email address</wsdl:documentation>
      <wsdl:input message="tns:FindUsersByEmailSoapIn" />
      <wsdl:output message="tns:FindUsersByEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find users by username</wsdl:documentation>
      <wsdl:input message="tns:FindUsersByNameSoapIn" />
      <wsdl:output message="tns:FindUsersByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all users</wsdl:documentation>
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfUsersOnline">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get number of users online</wsdl:documentation>
      <wsdl:input message="tns:GetNumberOfUsersOnlineSoapIn" />
      <wsdl:output message="tns:GetNumberOfUsersOnlineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the password of a user</wsdl:documentation>
      <wsdl:input message="tns:GetPasswordSoapIn" />
      <wsdl:output message="tns:GetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a user by username</wsdl:documentation>
      <wsdl:input message="tns:GetUserByUserNameSoapIn" />
      <wsdl:output message="tns:GetUserByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a user by provider key</wsdl:documentation>
      <wsdl:input message="tns:GetUserByKeySoapIn" />
      <wsdl:output message="tns:GetUserByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a user by provider key</wsdl:documentation>
      <wsdl:input message="tns:GetUserNameByEmailSoapIn" />
      <wsdl:output message="tns:GetUserNameByEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reset a users password</wsdl:documentation>
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Unlock a user</wsdl:documentation>
      <wsdl:input message="tns:UnlockUserSoapIn" />
      <wsdl:output message="tns:UnlockUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update a user's details</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate a user by their password</wsdl:documentation>
      <wsdl:input message="tns:ValidateUserSoapIn" />
      <wsdl:output message="tns:ValidateUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MembershipProviderSoap" type="tns:MembershipProviderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <soap:operation soapAction="http://tempuri.org/ChangePasswordQuestionAndAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersByEmail">
      <soap:operation soapAction="http://tempuri.org/FindUsersByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersByName">
      <soap:operation soapAction="http://tempuri.org/FindUsersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfUsersOnline">
      <soap:operation soapAction="http://tempuri.org/GetNumberOfUsersOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap:operation soapAction="http://tempuri.org/GetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <soap:operation soapAction="http://tempuri.org/GetUserByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByKey">
      <soap:operation soapAction="http://tempuri.org/GetUserByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <soap:operation soapAction="http://tempuri.org/GetUserNameByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <soap:operation soapAction="http://tempuri.org/UnlockUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MembershipProviderSoap12" type="tns:MembershipProviderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <soap12:operation soapAction="http://tempuri.org/ChangePasswordQuestionAndAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersByEmail">
      <soap12:operation soapAction="http://tempuri.org/FindUsersByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersByName">
      <soap12:operation soapAction="http://tempuri.org/FindUsersByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfUsersOnline">
      <soap12:operation soapAction="http://tempuri.org/GetNumberOfUsersOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap12:operation soapAction="http://tempuri.org/GetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <soap12:operation soapAction="http://tempuri.org/GetUserByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByKey">
      <soap12:operation soapAction="http://tempuri.org/GetUserByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <soap12:operation soapAction="http://tempuri.org/GetUserNameByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <soap12:operation soapAction="http://tempuri.org/UnlockUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MembershipProvider">
    <wsdl:port name="MembershipProviderSoap" binding="tns:MembershipProviderSoap">
      <soap:address location="http://localhost/Autenticacion/MembershipProvider.asmx" />
    </wsdl:port>
    <wsdl:port name="MembershipProviderSoap12" binding="tns:MembershipProviderSoap12">
      <soap12:address location="http://localhost/Autenticacion/MembershipProvider.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>